In [1]:
import numpy as np
import pandas as pd

In [2]:
# Depth- density profile at 82,28 N; 15,7 E
profile1 = pd.read_csv('obsProfiles/46Density.tsv', delimiter='\t')

In [3]:
profile1.head()

   Depth [m]  Density [kg/m3]
0       3.30       883.894616
1       3.85       877.359798
2       4.40       870.582950
3       4.95       903.983130
4       5.50       893.091767

In [4]:
# Depth- density profile at 77,25 N; -49 E
profile2 = pd.read_csv('obsProfiles/B26_2011_pit_density_noHeader.tsv', delimiter='\t')

In [5]:
# input depth given in cm and mass in g given per cube of size = 3 *5.5 * 6 cm3 = 99 cm3 = 0.9e-5 m3
profile2.head()

   Depth [cm]   Mass [g]
0           3         16
1           6         20
2           9         23
3          12         32
4          15         30

In [6]:
profile2.keys()

Index(['Depth [cm]', ' Mass [g]'], dtype='object')

In [7]:
profile2['Depth[m]'] = profile2.apply(lambda row: row['Depth [cm]']/100, axis=1)

In [8]:
profile2['Density [kg/m3]'] = profile2.apply(lambda row: row[' Mass [g]']*100/9.9, axis=1)

In [9]:
profile2 = profile2.loc[:,'Depth[m]':'Density [kg/m3]']

In [11]:
profile2.head()

   Depth[m]  Density [kg/m3]
0      0.03       161.616162
1      0.06       202.020202
2      0.09       232.323232
3      0.12       323.232323
4      0.15       303.030303

In [10]:
profile2.to_csv('obsProfiles/B26_2011_converted.csv')

In [14]:
profile3 = pd.read_csv('obsProfiles/NEEM2007shallowcoreDensity.txt', delimiter='\t')

In [15]:
profile3.head()

   Depth [m]  Density[kg/m3]
0      1.375      330.276709
1      1.925      342.072306
2      2.475      394.581737
3      3.025      343.213815
4      3.575      418.553433

In [16]:
import scipy.io as sio

In [21]:
years = range(1980,2017)

In [23]:
weather = {}
for y in years:
    weather[y] = sio.loadmat('./weatherInput/HH2018_'+str(y)+'.mat')

In [18]:
weatherWho = sio.whosmat('/Users/GalinaJonat/Documents/FirnProject/CommunityFirnModel/firnmodel/CFM_main/weatherInput/HH2018_1980.mat')

In [29]:
weather[y]['Temp'].shape

(50078, 12)

Weather data in one year: rows: ---- columns: month

In [30]:
info_file = sio.loadmat('./weatherInput/Infodata.mat')

In [33]:
info_file.keys()

dict_keys(['__header__', '__version__', '__globals__', 'ID', 'TimeL', 'col', 'ela', 'lat', 'lon', 'row'])

In [36]:
info_file['lat'].shape

(1, 50078)

In [38]:
info_file['lon'].shape

(1, 50078)