In [17]:
import pandas as pd
import numpy as np

In [18]:
autoDipFile = pd.read_csv('./CFMauto/diptrendsAuto.csv')

In [19]:
autoDipFile.head()

,y,x,HLdynamic,HLSigfus,Li2011,Helsen2008,Arthern2010S,Goujon2003,Barnola1991,KuipersMunneke2015,Simonsen2013,Crocus,Arthern2010T
0,74.34,-51.78,0.199973,0.194088,0.201898,0.203744,0.200233,0.060946,0.153518,0.202112,0.201640,-0.174638,NaN
1,67.33,-65.45,0.079313,-0.176687,0.136533,0.134730,0.135289,-0.220451,-0.214149,0.087457,0.073201,-0.177858,NaN
2,71.07,-45.91,0.202250,0.195439,0.201486,0.207768,0.202087,0.142766,0.200385,0.207215,0.204416,-0.176846,NaN
3,69.87,-38.13,0.209818,0.198496,0.207992,0.208345,0.207440,-0.173480,-0.049903,0.208750,0.208915,-0.195860,NaN
4,66.41,-43.36,0.202575,0.203739,0.203517,0.202175,0.204560,-0.013556,0.198511,0.202991,0.203911,-0.195370,NaN

In [20]:
autoDipDiff = autoDipFile.copy()

In [21]:
autoDipDiff.keys()

Index(['y', 'x', 'HLdynamic', 'HLSigfus', 'Li2011', 'Helsen2008',
       'Arthern2010S', 'Goujon2003', 'Barnola1991', 'KuipersMunneke2015',
       'Simonsen2013', 'Crocus', 'Arthern2010T'],
      dtype='object')

In [22]:
modelcols = ['HLdynamic','Li2011', 'Helsen2008',
       'Arthern2010S', 'Goujon2003', 'Barnola1991', 'KuipersMunneke2015',
       'Simonsen2013', 'Crocus', 'Arthern2010T']

In [27]:
autoDipDiff1 = autoDipFile.loc[:, 'y':'x'].join(autoDipDiff[modelcols].sub(autoDipDiff['HLSigfus'], axis=0))

In [28]:
autoDipDiff1.head()

,y,x,HLdynamic,Li2011,Helsen2008,Arthern2010S,Goujon2003,Barnola1991,KuipersMunneke2015,Simonsen2013,Crocus,Arthern2010T
0,74.34,-51.78,0.005885,0.007810,0.009656,0.006145,-0.133143,-0.040570,0.008024,0.007551,-0.368727,NaN
1,67.33,-65.45,0.256000,0.313220,0.311417,0.311976,-0.043764,-0.037462,0.264144,0.249888,-0.001171,NaN
2,71.07,-45.91,0.006810,0.006046,0.012329,0.006647,-0.052674,0.004945,0.011776,0.008977,-0.372286,NaN
3,69.87,-38.13,0.011322,0.009496,0.009849,0.008944,-0.371976,-0.248399,0.010254,0.010420,-0.394356,NaN
4,66.41,-43.36,-0.001165,-0.000222,-0.001564,0.000821,-0.217295,-0.005228,-0.000748,0.000171,-0.399110,NaN

In [29]:
autoDipDiff1.to_csv('./CFMauto/autoDIPdiff.csv')