In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
def writeCSV(fn,time,data):
    file = open(fn, 'w')
    
    writer = csv.writer(file)
    writer.writerow(time)
    writer.writerow(data)
    
    file.close()

In [3]:
n = range(1,4)
siteNames = ['site'+str(x) for x in n]
siteTemps = {}
siteSMBs = {}
for site in siteNames:
    siteTemps[site] = pd.read_csv('./CFM_main/extractedData/temp_'+site+'.dat')
    siteSMBs[site] = pd.read_csv('./CFM_main/extractedData/smb_'+site+'.dat')

In [4]:
siteTemps['site1'].head()

,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,247.83,250.76,249.06,248.14,250.46,243.27,243.89,250.02,245.53,246.45,...,241.27,241.87,247.98,240.50,247.30,246.35,242.64,241.26,243.40,245.98
1,245.20,244.82,248.37,239.36,247.00,251.41,246.63,247.23,251.85,251.36,...,239.48,244.97,243.25,246.84,246.16,246.72,243.58,242.64,245.31,245.25
2,246.13,246.87,247.43,245.59,250.43,248.10,242.95,242.94,245.66,248.23,...,240.24,240.46,243.65,243.56,244.89,243.69,246.75,249.10,242.39,250.83
3,252.05,254.21,251.50,251.85,248.94,253.44,255.23,247.81,249.96,255.24,...,250.88,251.33,254.02,246.95,248.46,252.27,248.29,249.45,252.76,251.54
4,264.77,260.92,263.41,263.64,260.88,264.84,266.02,267.36,263.83,263.23,...,263.18,264.50,264.93,263.16,261.50,263.43,264.12,261.74,262.19,263.84

In [5]:
siteSMBs['site1'].head()

,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,0.48736,0.530100,0.090993,0.379970,0.73264,0.28784,0.18958,0.66688,0.70612,1.614700,...,0.12229,0.16089,0.25810,0.214720,0.23119,0.72058,0.369770,0.22542,0.78567,0.46574
1,0.49778,1.042400,0.298990,0.108720,0.55940,0.52940,0.25119,0.43878,1.08840,0.645710,...,0.58247,0.11327,0.22844,0.201860,0.53046,0.56570,0.672370,0.13732,0.45484,0.47049
2,0.54420,0.571640,0.698120,0.423750,0.65081,1.44950,0.49538,0.27464,0.58261,0.962050,...,0.31060,0.22771,0.38553,0.361370,0.23346,0.15425,0.508410,0.33941,0.38003,0.69687
3,0.17157,0.728800,0.369610,0.467110,0.30543,0.53516,1.05070,0.16644,0.21149,3.011600,...,0.20880,1.12420,0.86539,0.084753,0.31547,0.78489,0.070009,0.72829,0.52832,0.83716
4,0.77168,0.030668,0.520140,0.099194,1.45980,1.33160,0.79218,0.61943,0.39357,0.058022,...,0.58160,0.38282,0.34667,0.137370,0.25289,0.78856,0.068426,0.54056,0.41043,0.12065

In [6]:
for site in siteNames:
    (numRows, _) = siteTemps[site].shape
    rows = range(0,numRows)

    years = list(siteTemps[site].keys())[::-1]

    temps = []
    smbs = []
    timeData = []
    for y in years:
        for r in rows:
            timeData.append(float(y)+(r+1)/12)
        templist = list(siteTemps[site][y])
        temps.extend(templist)
        smblist = list(siteSMBs[site][y])
        smbs.extend(smblist)
    writeCSV('./CFM_main/input2/temp_'+site+'.csv', timeData, temps)
    writeCSV('./CFM_main/input2/smb_'+site+'.csv', timeData, smbs)

In [7]:
checkYears = [str(x) for x in range(1970,1980)]
numCheckYears = len(checkYears)

In [8]:
for site in siteNames:
    (numRows, _) = siteTemps[site].shape
    rows = range(0,numRows)
    inYears = list(siteTemps[site].keys())[::-1]

    years = checkYears +inYears
    
    temps = []
    smbs = []
    timeData = []
    
    for y in years:
        for r in rows:
            timeData.append(float(y)+(r+1)/12)
        if y >= inYears[0]:
            templist = list(siteTemps[site][y])
            smblist = list(siteSMBs[site][y])
            if y == inYears[0]:
                initTemp = [templist[0]] * (numCheckYears*12)
                temps.extend(initTemp)
                initSMB = [smblist[0]] * (numCheckYears*12)
                smbs.extend(initSMB)
           
            temps.extend(templist)
            smbs.extend(smblist)
            
    writeCSV('./CFM_main/input2-1/temp_'+site+'.csv', timeData, temps)
    writeCSV('./CFM_main/input2-1/smb_'+site+'.csv', timeData, smbs)

In [9]:
len(timeData)

564

In [10]:
len(smbs)

564